<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}ProjetStatsGames{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">ProjetStatsGames</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/api/topics/">Topics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/posts/">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/comments/">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/games/">Games</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
